.popup__register-avatar-input {
  display: block;
  position: absolute;
  width: 87.3%;
  height: 87.3%;
  border-radius: 50%;
  opacity: 0;
  background-color: transparent;
  top: 6.5%;
  left: 6.5%;
}
